#main {
    padding-top: 40px;
}

#header {
    z-index: 10;
    height: 40px;
    background: #e94f35;
    color: #fff;
    padding-top: 14px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 16px;
}

#header .logo {
    width: 199px;
    height: 15px;
    font-size: 18px;
    line-height: 18px;
    margin-top: -3px;
    font-family: 'ProximaNova-Bold';
    padding-bottom: 5px;
}

#header .call_me {
    /*opacity:0; visibility:hidden; */
    -webkit-transition: .3s opacity, .3s visibility;
    -o-transition: .3s opacity, .3s visibility;
    transition: .3s opacity, .3s visibility;
}

#header .call_me:before {
    content: '|';
    display: inline-block;
    vertical-align: top;
    margin-right: 11px;
}

#header .call_me.active {
    opacity: 1;
    visibility: visible;
}

#header .menu li {
    display: inline-block;
    vertical-align: top;
}

#header .menu li:hover {
    font-family: 'ProximaNova-Bold';
}

#header .menu li+li {
    border-left: 1px solid #fff;
    margin-left: 4px;
    padding-left: 9px;
}

#header .menu li.last {
    display: none;
}

.banner_block {
    padding-top: 53px;
    padding-bottom: 65px;
    background: #333333 url(../img/banner1.jpg) no-repeat center center;
    background-size: cover;
    color: #fff;
    font-size: 21px;
    line-height: 26px;
}

.banner_block .inner {
    max-width: 462px;
}

.banner_block .ah1 {
    margin-bottom: 13px;
}

.banner_block .ah2 {
    font-size: 32px;
    line-height: 38px;
    margin-bottom: 105px;
}

.banner_block .start {
    line-height: 42px;
    font-size: 21px;
    padding: 0 20px;
    background: #e94f35;
    margin-top: 77px;
    margin-bottom: -3px;
}

.banner_block .call_me {
    right: -194px;
    top: 70px;
    width: 164px;
    text-align: center;
    line-height: 44px;
    font-size: 18px;
    background: #e94f35;
}

.gray_block {
    background: #889797;
    color: #fff;
    padding-top: 28px;
    padding-bottom: 34px;
}

.gray_block .ah1 {
    font-family: 'ProximaNova-Regular';
    font-size: 21px;
    line-height: 26px;
    font-weight: 400;
    text-transform: uppercase;
}

.gray_block .ah1 span {
    font-weight: 700;
}

.yellow_block {
    background: #f3f4f4;
    padding-top: 41px;
}

.yellow_block .ah1 {
    font-size: 32px;
    line-height: 35px;
    color: #e94f35;
    margin-bottom: 17px;
}

.yellow_block .ah1--unique {
    margin-top: 14px;
}

.yellow_block ul {
    padding-bottom: 31px;
}

.yellow_block ul:first-child {
    padding-left: 0px;
    padding-right: 106px;
}

.yellow_block ul:nth-child(2) {
    padding-left: 15px;
    padding-right: 45px;
}

.yellow_block ul li {
    padding-left: 21px;
    position: relative;
    margin-bottom: 10px;
    font-size: 15px;
    line-height: 18px;
    color: #333333;
}

.yellow_block ul li:before {
    content: '';
    position: absolute;
    left: 5px;
    top: 5px;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #e94f35;
}

.yellow_block .ah2 {
    font-size: 21px;
    line-height: 23px;
    margin-bottom: 27px;
    margin-top: 32px;
}

.yellow_block .ah2--program {
    margin-top: 41px;
}

.yellow_block .row {
    margin-right: -15px;
    margin-left: -15px;
    font-size: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    max-height: unset !important;
}

.yellow_block .row .block {
    width: calc(100% / 3 - 30px);
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 27px;
    color: #333333;
    font-size: 15px;
    line-height: 21px;
}

/*
.yellow_block .row{margin-right:-15px; margin-left: -15px; font-size:0; display: flex; flex-wrap: wrap;}
.yellow_block .row .col{display: flex;flex-direction: column; width: calc(100% / 3 - 30px); margin-right: 15px; margin-left: 15px; }
.yellow_block .row .block{width: 100%;  margin-bottom:26px; color:#333333; font-size:15px; line-height:21px;}
*/

.yellow_block .row .block>div {
    background: #fff;
    padding: 12px 13px 17px 19px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    min-height: 208px;
    height: 100%;
}

.yellow_block .row .block .image_block {
    width: 58px;
    text-align: center;
    margin-right: 6px;
    height: 44px;
    line-height: 44px;
    vertical-align: middle;
}

.yellow_block .row .block .image_block img {
    display: inline-block;
    vertical-align: middle;
    max-width: 58px;
    max-height: 44px;
    margin-top: -2px;
}

.yellow_block .row .block .ah3 {
    line-height: 18px;
    color: #e94f35;
    padding-top: 5px;
}

.yellow_block .row .block .top_row {
    border-bottom: 1px solid #e94f35;
    margin-bottom: 13px;
    padding-bottom: 12px;
}

.yellow_block .row .block:nth-child(4) p span {
    margin-right: -20px;
}

.structure_block {
    margin-top: 43px;
    font-family: 'ProximaNova-Regular';
}

.structure_block .ah1 {
    font-size: 32px;
    line-height: 35px;
    text-transform: uppercase;
    color: #e94f35;
    margin-bottom: 36px;
}

.structure_block .title {
    font-size: 15px;
    line-height: 21px;
    font-weight: 700;
    text-transform: uppercase;
}

.structure_block .title p {
    font-weight: 400;
    text-transform: none;
}

.structure_block .structure_block__text {
    font-family: 'ProximaNova-Bold';
    font-size: 15px;
    line-height: 21px;
    margin-top: 29px;
}

.program-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 30px -15px 0;
}

.program {
    display: block;
    width: calc(33.3333% - 30px);
    margin: 0 15px;
    font-family: 'ProximaNova-Semibold';
}

.program figure {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 100%;
    margin: 0;
    background-color: #f3f4f4;
}

.program .program__name {
    font-size: 21px;
    line-height: 28px;
    text-transform: uppercase;
    color: #e94f35;
    padding: 20px 18px 14px 21px;
}

.program .program__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 8px 10px 8px 21px;
    background-color: #e94f35;
}

.program .program__download {
    font-size: 15px;
    text-transform: uppercase;
    color: #ffffff;
}

.format_block {
    padding-top: 85px;
    padding-bottom: 64px;
}

.format_block .ah1 {
    font-size: 32px;
    line-height: 35px;
    color: #e94f35;
    margin-bottom: 34px;
}

.format_block .block {
    line-height: 21px;
    padding-right: 68px;
}

.format_block .block:nth-child(2) {
    padding-left: 12px;
    padding-top: 45px;
}

.format_block .block:nth-child(2) p {
    font-family: 'ProximaNova-Semibold';
    font-size: 15px;
    line-height: 21px;
}

.format_block .block .ah2 {
    font-size: 21px;
    line-height: 24px;
    color: #e94f35;
    margin-bottom: 20px;
}

.format_block .block p + p {
    margin-top: 22px;
}

.format_block .block .p {
    font-size: 15px;
    line-height: 21px;
    min-height: 42px;
    margin-bottom: 22px;
    text-transform: uppercase;
}

.format_block .program-wrapper {
    margin-top: 0;
}

.leading_block {
    background: #f3f4f4;
    padding-top: 43px;
    padding-bottom: 22px;
}

.leading_block .ah1 {
    font-size: 32px;
    line-height: 35px;
    color: #e94f35;
    margin-bottom: 89px;
}

.leading_block .block:first-child {
    padding-right: 15px;
    margin-top: 36px;
}

.leading_block .block:nth-child(2) {
    padding-left: 37px;
}

.leading_block .block .red_block {
    min-height: 170px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 29px 20px 20px;
    background: #e94f35;
    color: #fff;
    line-height: 20px;
    position: relative;
    margin-top: 9px;
    margin-bottom: 11px;
}

.leading_block .block .red_block__2 {
    min-height: 100px;
    padding: 13px 20px 10px 20px;
}

.leading_block .block .red_block .ah2 {
    font-size: 22px;
    line-height: 24px;
    margin-bottom: 28px;
}

.leading_block .block .red_block p {}

.leading_block .block .red_block img {
    position: absolute;
    right: 26px;
    bottom: 0;
    z-index: 1;
}

.leading_block .block .text_block {
    padding: 0 25px 0 20px;
    font-size: 15px;
    line-height: 18px;
}

.leading_block .block:first-child .text_block {
    font-size: 15px;
    line-height: 18px;
}

.leading_block .block:first-child .text_block p {
    margin-bottom: 18px;
}

.leading_block .block:nth-child(2) .text_block {
    padding-top: 3px;
    padding-left: 0;
    padding-right: 53px;
    padding-top: 6px;
}

.leading_block .block .text_block p {
    margin-bottom: 18px;
}

.red_bg {
    background: #e94f35;
    color: #fff;
    font-size: 21px;
    line-height: 28px;
    padding-top: 43px;
    padding-bottom: 60px;
}

.red_bg .inner {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.red_bg .ah1 {
    font-size: 32px;
    line-height: 25px;
    margin-bottom: 59px;
}

.red_bg img {
    width: 100%;
    margin-top: 30px;
}

.how_block {
    background: #889797;
    color: #fff;
    padding-top: 44px;
    padding-bottom: 10px;
    font-size: 14px;
    line-height: 18px;
}

.how_block .ah1 {
    font-size: 32px;
    line-height: 35px;
    margin-bottom: 32px;
}

.how_block .row {
    margin-right: -30px;
}

.how_block .row .block {
    padding-right: 30px;
    margin-bottom: 30px;
}

.how_block .row .block:first-child p {
    margin-bottom: 23px;
}

.how_block .row .price-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.how_block .row .price-block {
    background: #acb6b6;
    padding: 20px 20px 8px;
    text-align: center;
    text-transform: uppercase;
    height: 100%;
}

.how_block .row .price-block p {
    font-size: 21px;
    line-height: 24px;
    text-transform: uppercase;
}

.how_block .row .block p {
    margin-bottom: 20px;
}

.how_block .row .block p:nth-child(2) {
    letter-spacing: -0.04em;
}

.how_block .row .block .ah2 {
    margin-bottom: 5px;
}

.how_block .row .block .price {
    background: #fff;
    width: 194px;
    padding-top: 15px;
    padding-bottom: 2px;
    font-size: 32px;
    line-height: 22px;
    color: #e94f35;
    margin-bottom: 20px;
}

.how_block .row .block .price span {
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    font-family: 'ProximaNova-Semibold';
    text-transform: none;
    margin-top: -3px;
}

.how_block .row .block .ah4 {
    font-weight: bold;
    position: relative;
    padding-left: 27px;
    margin-top: 32px;
}

.how_block .row .block .ah4:before {
    content: '';
    position: absolute;
    left: 0;
    top: -8px;
    width: 16px;
    height: 22px;
    background: url(../img/mark.svg) no-repeat;
}

.form_block {
    padding-top: 37px;
    padding-bottom: 46px;
}

.form_block .row {
    margin-right: -30px;
}

.form_block .row .block {
    padding-right: 30px;
}

.form_block .row .text_block {
    padding-top: 6px;
    font-size: 14px;
    line-height: 18px;
    padding-right: 33px;
    margin-top: 82px;
}

.form_block .row .text_block p {
    margin-bottom: 22px;
}

.form_block .row .text_block a {
    color: #889797;
    text-decoration: underline;
}

.form_block .radio_block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 22px;
}

.form_block .radio_block-col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 53%;
}

.form_block .radio_block-col:last-child {
    width: 47%;
}

.form_block .radio {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 25px;
    position: relative;
    line-height: 13px;
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 17px;
}

.form_block .radio input {
    position: absolute;
    opacity: 0;
    background: transparent;
    width: 1px;
    height: 1px;
    left: 2px;
    top: 10px;
}

.form_block .radio span {
    display: block;
}

.form_block .radio span:before {
    content: '';
    position: absolute;
    left: 0;
    top: -1px;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    border: 1px solid #889797;
}

.form_block .radio input:checked+span:after {
    content: '';
    position: absolute;
    left: 4px;
    top: 3px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #889797;
}

.form_block form {
    padding-top: 7px;
}

.form_block .inputbox {
    border-radius: 0 !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #879696;
    font-size: 14px;
    line-height: 17px;
    padding: 6px 16px 7px;
    font-family: 'ProximaNova-Regular';
    margin-bottom: 12px;
    -webkit-appearance: none;
    background: #fff !important;
    -moz-appearance: none;
    appearance: none;
}

.form_block .hidden input {
    width: 2px;
    height: 2px;
    background: #fff;
    opacity: 0;
    position: absolute;
    margin-top: 10px;
    margin-left: 6px;
}

.form_block button {
    background: #e94f35;
    color: #fff;
    font-size: 18px;
    line-height: 18px;
    height: 44px;
    margin-top: 4px;
}

#footer {
    font-size: 14px;
    line-height: 17px;
    color: #889797;
    padding-top: 8px;
    padding-bottom: 23px;
    border-top: 1px solid #889797;
}

#spasibo {
    width: 280px;
    height: 200px;
    background: #fff;
    text-align: center;
    border-radius: 20px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-top: 60px;
    padding-left: 20px;
    padding-right: 20px;
}

#spasibo .ah1 {
    font-size: 25px;
    line-height: 27px;
    color: #e94f35;
    margin-bottom: 15px;
}

#spasibo .b-modal_close {
    line-height: 50px;
}

.arcticmodal-container_i2 {
    padding-left: 0;
    padding-right: 0;
}


.sert img {
    max-width: 100%;
    height: auto;
}

.new_line_no_mobile {
    display: block;
}

.course-parthners-block {
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: #ffffff;
    padding: 13px 25px 18px 19px;
    margin-top: 24px;
}

.co-pa-row {
    margin-bottom: 12px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
}

.co-pa-row .co-pa-row__item {
    display: block;
    margin-right: 31px;
    color: #e94f35;
    font-family: "ProximaNova-Semibold";
    font-size: 15px;
    font-weight: 400;
    line-height: 21px;
    -webkit-transition-duration: .2s;
    -o-transition-duration: .2s;
    transition-duration: .2s;
}
.co-pa-row__item:hover{
    opacity: .8;
}
.co-pa-row .co-pa-row__item img {
    max-width: 100%;
    height: auto;
    display: block;
}

.course-parthners-block p {
    color: #333333;
    font-family: "ProximaNova-Semibold";
    font-size: 15px;
    font-weight: 400;
    line-height: 21px
}

.course-parthners-block p+p {
    margin-top: 21px;
}


.module-vert-line {
    margin-left: 4px;
    margin-right: 3px;
}

.dbr {
    display: inline;
}
