.btn {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	max-width: 100%;
	padding: 10px 14px;
	background-color: $orange;
	font-family: $mainFont;
	font-size: 15px;
	text-transform: uppercase;
	font-weight: 600;
	color: $white;
	box-sizing: border-box;
	@include transition(background-color);

	@include dMin {
		&:hover {
			background-color: rgba($orange, 0.8);
		}
	}
}
