extends layouts/default

block vars
	-
		const page = {
			title: 'ТЕСТ НА ОПРЕДЕЛЕНИЕ УРОВНЯ ЭМОЦИОНАЛЬНОГО ИНТЕЛЛЕКТА'
		};




block header
	header.test-header
		.container
			.header-flex
				.head-test-number
					.head-test-number__current 1
					.head-test-number__delimiter /
					.head-test-number__max 15

				h1.header-test-name ТЕСТ НА ОПРЕДЕЛЕНИЕ УРОВНЯ ЭМОЦИОНАЛЬНОГО ИНТЕЛЛЕКТА

				a.header-test-extit(href="/event-new/")
					| <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 984 984"><defs><clipPath clipPathUnits="userSpaceOnUse" id="cp1"><path d="M0 0h984v984H0z"/></clipPath></defs><style></style><g clip-path="url(#cp1)"><path d="M600.38 492.03l367.9-367.92c10.12-10.13 15.7-23.64 15.72-38.05 0-14.41-5.58-27.94-15.72-38.05l-32.24-32.23C925.9 5.62 912.39.06 897.97.06c-14.4 0-27.91 5.56-38.05 15.72L492.01 383.67 124.1 15.78C113.98 5.62 100.46.06 86.04.06 71.64.06 58.12 5.62 48 15.78L15.74 48.01c-20.99 20.99-20.99 55.13 0 76.1l367.92 367.92L15.74 859.94C5.62 870.08.04 883.59.04 898c0 14.41 5.58 27.92 15.7 38.06l32.25 32.23C58.11 978.43 71.64 984 86.03 984c14.42 0 27.94-5.57 38.06-15.71l367.92-367.91 367.9 367.91c10.14 10.14 23.65 15.71 38.05 15.71h.02c14.41 0 27.92-5.57 38.05-15.71l32.24-32.23c10.12-10.13 15.71-23.65 15.71-38.06 0-14.41-5.59-27.92-15.71-38.06L600.38 492.03z" fill="#ffffff"/></g></svg>
block main
	main.main.main--column-center#main
		.container
			.test-wrap
				//текст, пропадающий на последнем слайде
				.test-slider.test-slider--top.js-test-slider-top
					.test-slide
						.test-slide__content
							.hide-this-after-test
								h2.test-title Для определения уровня вашего эмоционального интеллекта ответьте  на следующие вопросы, выбрав один из предложенных вариантов


				.test-slider.test-slider--main.js-test-slider.js-test-slider--calc-type-1

					.test-slide
						.test-slide__content

							.test-description Я могу распознать свои эмоции, когда я их переживаю
							.test-answer-radios
								label.custom-radio
									input.custom-radio__inp(type="radio"  name="step-1" value="1")
									.custom-radio__fake
									span.custom-radio__info Никогда
								label.custom-radio
									input.custom-radio__inp(type="radio"  name="step-1" value="2")
									.custom-radio__fake
									span.custom-radio__info редко
								label.custom-radio
									input.custom-radio__inp(type="radio"  name="step-1" value="3")
									.custom-radio__fake
									span.custom-radio__info Иногда
								label.custom-radio
									input.custom-radio__inp(type="radio"  name="step-1" value="4")
									.custom-radio__fake
									span.custom-radio__info часто
								label.custom-radio
									input.custom-radio__inp(type="radio"  name="step-1" value="5")
									.custom-radio__fake
									span.custom-radio__info очень часто
						//
							.test-slide__bottom
								.cbtn.js-next-slide следующий


					.test-slide
						.test-slide__content

							.test-description Я теряю самообладание (раздражение/упадок сил), когда возникают преграды, мешающие удовлетворению моих потребностей и желаний

							.test-answer-radios
								label.custom-radio
									input.custom-radio__inp(type="radio"  name="step-2" value="1")
									.custom-radio__fake
									span.custom-radio__info Никогда
								label.custom-radio
									input.custom-radio__inp(type="radio"  name="step-2" value="2")
									.custom-radio__fake
									span.custom-radio__info редко
								label.custom-radio
									input.custom-radio__inp(type="radio"  name="step-2" value="3")
									.custom-radio__fake
									span.custom-radio__info Иногда
								label.custom-radio
									input.custom-radio__inp(type="radio"  name="step-2" value="4")
									.custom-radio__fake
									span.custom-radio__info часто
								label.custom-radio
									input.custom-radio__inp(type="radio"  name="step-2" value="5")
									.custom-radio__fake
									span.custom-radio__info очень часто
					.test-slide
						.test-slide__content

							.test-description Люди говорят мне, что я хороший слушатель
							.test-answer-radios
								label.custom-radio
									input.custom-radio__inp(type="radio"  name="step-3" value="1")
									.custom-radio__fake
									span.custom-radio__info Никогда
								label.custom-radio
									input.custom-radio__inp(type="radio"  name="step-3" value="2")
									.custom-radio__fake
									span.custom-radio__info редко
								label.custom-radio
									input.custom-radio__inp(type="radio"  name="step-3" value="3")
									.custom-radio__fake
									span.custom-radio__info Иногда
								label.custom-radio
									input.custom-radio__inp(type="radio"  name="step-3" value="4")
									.custom-radio__fake
									span.custom-radio__info часто
								label.custom-radio
									input.custom-radio__inp(type="radio"  name="step-3" value="5")
									.custom-radio__fake
									span.custom-radio__info очень часто
					.test-slide
						.test-slide__content

							.test-description Я знаю, как успокоить себя, когда я расстроен или чувствую тревогу
							.test-answer-radios
								label.custom-radio
									input.custom-radio__inp(type="radio"  name="step-4" value="1")
									.custom-radio__fake
									span.custom-radio__info Никогда
								label.custom-radio
									input.custom-radio__inp(type="radio"  name="step-4" value="2")
									.custom-radio__fake
									span.custom-radio__info редко
								label.custom-radio
									input.custom-radio__inp(type="radio"  name="step-4" value="3")
									.custom-radio__fake
									span.custom-radio__info Иногда
								label.custom-radio
									input.custom-radio__inp(type="radio"  name="step-4" value="4")
									.custom-radio__fake
									span.custom-radio__info часто
								label.custom-radio
									input.custom-radio__inp(type="radio"  name="step-4" value="5")
									.custom-radio__fake
									span.custom-radio__info очень часто
					.test-slide
						.test-slide__content

							.test-description Мне нравится быть организатором (организовывать группы)
							.test-answer-radios
								label.custom-radio
									input.custom-radio__inp(type="radio"  name="step-5" value="1")
									.custom-radio__fake
									span.custom-radio__info Никогда
								label.custom-radio
									input.custom-radio__inp(type="radio"  name="step-5" value="2")
									.custom-radio__fake
									span.custom-radio__info редко
								label.custom-radio
									input.custom-radio__inp(type="radio"  name="step-5" value="3")
									.custom-radio__fake
									span.custom-radio__info Иногда
								label.custom-radio
									input.custom-radio__inp(type="radio"  name="step-5" value="4")
									.custom-radio__fake
									span.custom-radio__info часто
								label.custom-radio
									input.custom-radio__inp(type="radio"  name="step-5" value="5")
									.custom-radio__fake
									span.custom-radio__info очень часто
					.test-slide
						.test-slide__content

							.test-description Мне трудно сосредотачиваться на чем-то долгое время
							.test-answer-radios
								label.custom-radio
									input.custom-radio__inp(type="radio"  name="step-6" value="1")
									.custom-radio__fake
									span.custom-radio__info Никогда
								label.custom-radio
									input.custom-radio__inp(type="radio"  name="step-6" value="2")
									.custom-radio__fake
									span.custom-radio__info редко
								label.custom-radio
									input.custom-radio__inp(type="radio"  name="step-6" value="3")
									.custom-radio__fake
									span.custom-radio__info Иногда
								label.custom-radio
									input.custom-radio__inp(type="radio"  name="step-6" value="4")
									.custom-radio__fake
									span.custom-radio__info часто
								label.custom-radio
									input.custom-radio__inp(type="radio"  name="step-6" value="5")
									.custom-radio__fake
									span.custom-radio__info очень часто
					.test-slide
						.test-slide__content

							.test-description Мне трудно двигаться дальше, когда я чувствую себя фрустрированным или несчастным
							.test-answer-radios
								label.custom-radio
									input.custom-radio__inp(type="radio"  name="step-7" value="1")
									.custom-radio__fake
									span.custom-radio__info Никогда
								label.custom-radio
									input.custom-radio__inp(type="radio"  name="step-7" value="2")
									.custom-radio__fake
									span.custom-radio__info редко
								label.custom-radio
									input.custom-radio__inp(type="radio"  name="step-7" value="3")
									.custom-radio__fake
									span.custom-radio__info Иногда
								label.custom-radio
									input.custom-radio__inp(type="radio"  name="step-7" value="4")
									.custom-radio__fake
									span.custom-radio__info часто
								label.custom-radio
									input.custom-radio__inp(type="radio"  name="step-7" value="5")
									.custom-radio__fake
									span.custom-radio__info очень часто
					.test-slide
						.test-slide__content

							.test-description Я знаю свои сильные и слабые стороны
							.test-answer-radios
								label.custom-radio
									input.custom-radio__inp(type="radio"  name="step-8" value="1")
									.custom-radio__fake
									span.custom-radio__info Никогда
								label.custom-radio
									input.custom-radio__inp(type="radio"  name="step-8" value="2")
									.custom-radio__fake
									span.custom-radio__info редко
								label.custom-radio
									input.custom-radio__inp(type="radio"  name="step-8" value="3")
									.custom-radio__fake
									span.custom-radio__info Иногда
								label.custom-radio
									input.custom-radio__inp(type="radio"  name="step-8" value="4")
									.custom-radio__fake
									span.custom-radio__info часто
								label.custom-radio
									input.custom-radio__inp(type="radio"  name="step-8" value="5")
									.custom-radio__fake
									span.custom-radio__info очень часто
					.test-slide
						.test-slide__content

							.test-description Я избегаю конфликтов и переговоров
							.test-answer-radios
								label.custom-radio
									input.custom-radio__inp(type="radio"  name="step-9" value="1")
									.custom-radio__fake
									span.custom-radio__info Никогда
								label.custom-radio
									input.custom-radio__inp(type="radio"  name="step-9" value="2")
									.custom-radio__fake
									span.custom-radio__info редко
								label.custom-radio
									input.custom-radio__inp(type="radio"  name="step-9" value="3")
									.custom-radio__fake
									span.custom-radio__info Иногда
								label.custom-radio
									input.custom-radio__inp(type="radio"  name="step-9" value="4")
									.custom-radio__fake
									span.custom-radio__info часто
								label.custom-radio
									input.custom-radio__inp(type="radio"  name="step-9" value="5")
									.custom-radio__fake
									span.custom-radio__info очень часто
					.test-slide
						.test-slide__content

							.test-description Я чувствую, что мне не нравится моя работа
							.test-answer-radios
								label.custom-radio
									input.custom-radio__inp(type="radio"  name="step-10" value="1")
									.custom-radio__fake
									span.custom-radio__info Никогда
								label.custom-radio
									input.custom-radio__inp(type="radio"  name="step-10" value="2")
									.custom-radio__fake
									span.custom-radio__info редко
								label.custom-radio
									input.custom-radio__inp(type="radio"  name="step-10" value="3")
									.custom-radio__fake
									span.custom-radio__info Иногда
								label.custom-radio
									input.custom-radio__inp(type="radio"  name="step-10" value="4")
									.custom-radio__fake
									span.custom-radio__info часто
								label.custom-radio
									input.custom-radio__inp(type="radio"  name="step-10" value="5")
									.custom-radio__fake
									span.custom-radio__info очень часто
					.test-slide
						.test-slide__content

							.test-description Я прошу у людей дать мне обратную связь, что я делаю хорошо и что мне надо улучшить
							.test-answer-radios
								label.custom-radio
									input.custom-radio__inp(type="radio"  name="step-11" value="1")
									.custom-radio__fake
									span.custom-radio__info Никогда
								label.custom-radio
									input.custom-radio__inp(type="radio"  name="step-11" value="2")
									.custom-radio__fake
									span.custom-radio__info редко
								label.custom-radio
									input.custom-radio__inp(type="radio"  name="step-11" value="3")
									.custom-radio__fake
									span.custom-radio__info Иногда
								label.custom-radio
									input.custom-radio__inp(type="radio"  name="step-11" value="4")
									.custom-radio__fake
									span.custom-radio__info часто
								label.custom-radio
									input.custom-radio__inp(type="radio"  name="step-11" value="5")
									.custom-radio__fake
									span.custom-radio__info очень часто
					.test-slide
						.test-slide__content

							.test-description Я ставлю себе долгосрочные цели и регулярно отслеживаю процесс их достижения
							.test-answer-radios
								label.custom-radio
									input.custom-radio__inp(type="radio"  name="step-12" value="1")
									.custom-radio__fake
									span.custom-radio__info Никогда
								label.custom-radio
									input.custom-radio__inp(type="radio"  name="step-12" value="2")
									.custom-radio__fake
									span.custom-radio__info редко
								label.custom-radio
									input.custom-radio__inp(type="radio"  name="step-12" value="3")
									.custom-radio__fake
									span.custom-radio__info Иногда
								label.custom-radio
									input.custom-radio__inp(type="radio"  name="step-12" value="4")
									.custom-radio__fake
									span.custom-radio__info часто
								label.custom-radio
									input.custom-radio__inp(type="radio"  name="step-12" value="5")
									.custom-radio__fake
									span.custom-radio__info очень часто
					.test-slide
						.test-slide__content

							.test-description Мне сложно читать эмоции других людей
							.test-answer-radios
								label.custom-radio
									input.custom-radio__inp(type="radio"  name="step-13" value="1")
									.custom-radio__fake
									span.custom-radio__info Никогда
								label.custom-radio
									input.custom-radio__inp(type="radio"  name="step-13" value="2")
									.custom-radio__fake
									span.custom-radio__info редко
								label.custom-radio
									input.custom-radio__inp(type="radio"  name="step-13" value="3")
									.custom-radio__fake
									span.custom-radio__info Иногда
								label.custom-radio
									input.custom-radio__inp(type="radio"  name="step-13" value="4")
									.custom-radio__fake
									span.custom-radio__info часто
								label.custom-radio
									input.custom-radio__inp(type="radio"  name="step-13" value="5")
									.custom-radio__fake
									span.custom-radio__info очень часто
					.test-slide
						.test-slide__content

							.test-description У меня плохо получается наладить отношения с другими людьми
							.test-answer-radios
								label.custom-radio
									input.custom-radio__inp(type="radio"  name="step-14" value="1")
									.custom-radio__fake
									span.custom-radio__info Никогда
								label.custom-radio
									input.custom-radio__inp(type="radio"  name="step-14" value="2")
									.custom-radio__fake
									span.custom-radio__info редко
								label.custom-radio
									input.custom-radio__inp(type="radio"  name="step-14" value="3")
									.custom-radio__fake
									span.custom-radio__info Иногда
								label.custom-radio
									input.custom-radio__inp(type="radio"  name="step-14" value="4")
									.custom-radio__fake
									span.custom-radio__info часто
								label.custom-radio
									input.custom-radio__inp(type="radio"  name="step-14" value="5")
									.custom-radio__fake
									span.custom-radio__info очень часто
					.test-slide
						.test-slide__content

							.test-description Я использую навыки активного слушания во время общения с людьми
							.test-answer-radios
								label.custom-radio
									input.custom-radio__inp(type="radio"  name="step-15" value="1")
									.custom-radio__fake
									span.custom-radio__info Никогда
								label.custom-radio
									input.custom-radio__inp(type="radio"  name="step-15" value="2")
									.custom-radio__fake
									span.custom-radio__info редко
								label.custom-radio
									input.custom-radio__inp(type="radio"  name="step-15" value="3")
									.custom-radio__fake
									span.custom-radio__info Иногда
								label.custom-radio
									input.custom-radio__inp(type="radio"  name="step-15" value="4")
									.custom-radio__fake
									span.custom-radio__info часто
								label.custom-radio
									input.custom-radio__inp(type="radio"  name="step-15" value="5")
									.custom-radio__fake
									span.custom-radio__info очень часто

					.test-slide
						.test-slide__content
							.test-result-points
								.test-result-points__info Ваш результат:
								.test-result-points__val#test-result-points__val 62
							.test-results#test-results
								.test-results__item(data-min="15" data-max="34")
									.test-results__info
										p Вам нужно работать над вашим эмоциональным интеллектом. Возможно, вы чувствуете себя эмоционально перегруженным, особенно в стрессовых ситуациях. Вы можете избегать конфликтов, потому что считаете, что они приводят к одним неприятностям. Скорее всего, вам трудно успокоиться после того, как вы расстроились, и у вас плохо получается наладить отношения с другими людьми.
										p Не беспокойтесь - есть много способов, с помощью которых вы можете развить эмоциональный интеллект. В книге
											b  «‎Навыки современного юриста: soft skills, повышающие эффективность и качество жизни»
											|  вы найдёте много полезных советов, работающих техник и алгоритмов!

								.test-results__item(data-min="35" data-max="55")
									.test-results__info
										p Уровень вашего эмоционального интеллекта в норме.
										p Вероятно, у вас хорошие отношения с некоторыми вашими коллегами, но с другими могут возникать трудности.
										p Хорошая новость в том, что у вас есть прекрасная возможность значительно улучшить свои рабочие отношения. Пусть книга
											b  «‎Навыки современного юриста: soft skills, повышающие эффективность и качество жизни»
											|   будет для вас ещё одной возможностью поработать над осознанным развитием вашего EQ.

								.test-results__item(data-min="56" data-max="75")
									.test-results__info
										p Прекрасно! Вы эмоционально интеллектуальный человек. У вас отличные отношения с&nbsp;друзьями и коллегами, и, вероятно, люди обращаются к вам за советами.
										p Однако, когда много людей восхищаются вашими человеческими качествами, легко упускать&nbsp;из виду ваши собственные потребности. Часто люди с развитым эмоциональным интеллектом обладают большим лидерским потенциалом. Вы можете раскрыть в себе этот потенциал, если будете искать возможности для его развития. Только вперёд! Ведь вы уже гораздо больше, чем просто юрист!


block footer
	include partials/_footer-dark.pug