extends layouts/default

block vars
	-
		const page = {
			title: 'index.html'
		};




block header
	header.test-header
		.container
			.header-flex
				.head-test-number
					.head-test-number__current 1
					.head-test-number__delimiter /
					.head-test-number__max 15

				h1.header-test-name ТЕСТ НА ОПРЕДЕЛЕНИЕ УРОВНЯ ЭМОЦИОНАЛЬНОГО ИНТЕЛЛЕКТА

				a.header-test-extit(href="/")
					| <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 984 984"><defs><clipPath clipPathUnits="userSpaceOnUse" id="cp1"><path d="M0 0h984v984H0z"/></clipPath></defs><style></style><g clip-path="url(#cp1)"><path d="M600.38 492.03l367.9-367.92c10.12-10.13 15.7-23.64 15.72-38.05 0-14.41-5.58-27.94-15.72-38.05l-32.24-32.23C925.9 5.62 912.39.06 897.97.06c-14.4 0-27.91 5.56-38.05 15.72L492.01 383.67 124.1 15.78C113.98 5.62 100.46.06 86.04.06 71.64.06 58.12 5.62 48 15.78L15.74 48.01c-20.99 20.99-20.99 55.13 0 76.1l367.92 367.92L15.74 859.94C5.62 870.08.04 883.59.04 898c0 14.41 5.58 27.92 15.7 38.06l32.25 32.23C58.11 978.43 71.64 984 86.03 984c14.42 0 27.94-5.57 38.06-15.71l367.92-367.91 367.9 367.91c10.14 10.14 23.65 15.71 38.05 15.71h.02c14.41 0 27.92-5.57 38.05-15.71l32.24-32.23c10.12-10.13 15.71-23.65 15.71-38.06 0-14.41-5.59-27.92-15.71-38.06L600.38 492.03z" fill="#ffffff"/></g></svg>
block main
	main.main.main--column-center#main
		.container
			.test-wrap
				.test-slider.js-test-slider

					.test-slide
						.test-slide__content
							h2.test-title Выберите из суждений то, которое является
								.db-desktop
								|  наиболее типичным для Вас
							.test-answer-radios.test-answer-radios--type-2
								label.custom-radio
									input.custom-radio__inp(type="radio", name="step-1")
									.custom-radio__fake
									span.custom-radio__info  Зачастую я избегаю занимать позицию,
										.db-desktop
										| которая может вызвать споры

								label.custom-radio
									input.custom-radio__inp(type="radio", name="step-1")
									.custom-radio__fake
									span.custom-radio__info  Я даю возможность другому в чем-то остаться при своем мнении,
										.db-desktop
										|  если он также идет мне навстречу


					.test-slide
						.test-slide__content
							.test-result-points
								.test-result-points__info Ваш результат
							.test-result-type-2
								.trt2-info Ваш индивидуальный стиль поведения в конфликте проявляется через совокупность  5-ти стилей в следующей пропорции:
								.trt2-parameters
									.trt2-parameter
										.trt2-parameter__name(data-to-span="УКЛОНЕНИЮ") УКЛОНЕНИЕ
										.trt2-parameter__val#trt2-parameter-1 <span>5</span> баллов
									.trt2-parameter
										.trt2-parameter__name(data-to-span="ПРИСПОСОБЛЕНИЮ") ПРИСПОСОБЛЕНИЕ
										.trt2-parameter__val#trt2-parameter-1 <span>2</span> балла
									.trt2-parameter
										.trt2-parameter__name(data-to-span="КОНФРОНТАЦИИ") КОНФРОНТАЦИЯ
										.trt2-parameter__val#trt2-parameter-1 <span>6</span> баллов
									.trt2-parameter
										.trt2-parameter__name(data-to-span="СОТРУДНИЧЕСТВУ") СОТРУДНИЧЕСТВО
										.trt2-parameter__val#trt2-parameter-1 <span>12</span> баллов
									.trt2-parameter
										.trt2-parameter__name(data-to-span="КОМПРОМИССУ") КОМПРОМИСС
										.trt2-parameter__val#trt2-parameter-1 <span>5</span> баллов

								.trt2-info Таким образом, у вас отсутствует склонность к <span id="otsutstvuet-sklonnost-k">ПРИСПОСОБЛЕНИЮ</span>.<br> При этом,  <span id="sklonnost-k">СОТРУДНИЧЕСТВО</span> является для вас наиболее комфортной моделью  поведения в конфликте.
								a.trt-2-link(href="") ПОСМОТРЕТЬ ОПИСАНИЕ ВСЕХ СТИЛЕЙ  >






block footer
	include partials/_footer-dark.pug