header#header.fixed.w100.l0.t0.reg
  .inner.rL
    .db.cp.btn11.mobile-menu-trigger
      .icon-left
      .icon-right
    a.fleft.rL.hid.logo(href='http://softskillslawacademy.com') Soft Skills Law Academy
    a.call_me.cp.fright.scroll(href='#buy') Купить книгу
    nav.rL.hid.menu.alCenter
      ul
        li
          a.scroll(href='.about') О чем книга
        li
          a.scroll(href='.editors') Редакторы
        li
          a.scroll(href='#authors') Авторы
        li
          a.scroll(href='#experts') Эксперты
        li
          a.scroll(href='.content') Содержание
