header#header.fixed.w100.l0.t0.reg
  .inner.rL
    .db.cp.btn11.mobile-menu-trigger
      .icon-left
      .icon-right
    a.fleft.rL.hid.logo(href='http://softskillslawacademy.com') Soft Skills Law Academy
    a.call_me.cp.fright.scroll(href='.how_block') Записаться на курс
    nav.rL.hid.menu.alCenter
      ul
        li
          a.scroll(href='.yellow_block') О курсе
        li
          a.scroll(href='#format_block') Программа курса
        li
          a.scroll(href='#format_block2') Формат обучения
        li
          a.scroll(href='.leading_block') Спикеры
        li.last
          a.scroll(href='.how_block') Записаться на курс
